In [23]:
from backtestv1 import *
t=fund_backTest("2021-01-01", "2021-01-30",100000)

In [24]:
t.buy('000051.OF',5000,'2021-01-04')

t.buy('020011.OF',5000,'2021-01-08')

t.buy('000051.OF',5000,'2021-01-11')

t.sell('020011.OF',2000,'2021-01-15')

In [25]:
#t.buy('000051.OF',1200,'2021-01-07')

In [26]:
df_returns,_,_,_,_=t.handle_data()

In [27]:
df_returns.head(20)

,init_base,fund_list,flag,market_value,bench_mark,total_assets,returns,cum_returns
2021-01-04,91174.0,{'000051.OF': 5000},1,8826.0,5267.7181,100000.0,NaN,0.000000
2021-01-05,91174.0,{'000051.OF': 5000},1,8986.0,5368.5049,100160.0,0.001600,0.001600
2021-01-06,91174.0,{'000051.OF': 5000},1,9064.0,5417.6677,100238.0,0.000779,0.002380
2021-01-07,91174.0,{'000051.OF': 5000},1,9216.5,5513.6568,100390.5,0.001521,0.003905
2021-01-08,84777.0,"{'000051.OF': 5000, '020011.OF': 5000}",2,15585.0,5495.4306,100362.0,-0.000284,0.003620
2021-01-11,75676.0,"{'000051.OF': 10000, '020011.OF': 5000}",3,24537.0,5441.1583,100213.0,-0.001485,0.002130
2021-01-12,75676.0,"{'000051.OF': 10000, '020011.OF': 5000}",3,25203.0,5596.3525,100879.0,0.006646,0.008790
2021-01-13,75676.0,"{'000051.OF': 10000, '020011.OF': 5000}",3,25121.0,5577.9711,100797.0,-0.000813,0.007970
2021-01-14,75676.0,"{'000051.OF': 10000, '020011.OF': 5000}",3,24660.0,5470.4563,100336.0,-0.004574,0.003360
2021-01-15,77881.4,"{'000051.OF': 10000, '020011.OF': 3000}",4,21564.1,5458.0812,99445.5,-0.008875,-0.005545
2021-01-18,77881.4,"{'000051.OF': 10000, '020011.OF': 3000}",4,21792.4,5518.5205,99673.8,0.002296,-0.003262
2021-01-19,77881.4,"{'000051.OF': 10000, '020011.OF': 3000}",4,21490.2,5437.5234,99371.6,-0.003032,-0.006284
2021-01-20,77881.4,"{'000051.OF': 10000, '020011.OF': 3000}",4,21638.0,5476.4336,99519.4,0.001487,-0.004806
2021-01-21,77881.4,"{'000051.OF': 10000, '020011.OF': 3000}",4,21970.9,5564.9693,99852.3,0.003345,-0.001477
2021-01-22,77881.4,"{'000051.OF': 10000, '020011.OF': 3000}",4,21990.4,5569.7760,99871.8,0.000195,-0.001282
2021-01-25,77881.4,"{'000051.OF': 10000, '020011.OF': 3000}",4,22199.0,5625.9232,100080.4,0.002089,0.000804
2021-01-26,77881.4,"{'000051.OF': 10000, '020011.OF': 3000}",4,21773.7,5512.9678,99655.1,-0.004250,-0.003449
2021-01-27,77881.4,"{'000051.OF': 10000, '020011.OF': 3000}",4,21828.4,5528.0034,99709.8,0.000549,-0.002902
2021-01-28,77881.4,"{'000051.OF': 10000, '020011.OF': 3000}",4,21264.1,5377.1427,99145.5,-0.005659,-0.008545
2021-01-29,77881.4,"{'000051.OF': 10000, '020011.OF': 3000}",4,21168.6,5351.9646,99050.0,-0.000963,-0.009500

In [15]:
for k,v in t.data.loc['2021-01-04','fund_list'].items():
    print(k,v)

000051.OF 5000

In [16]:
type(t.data.loc['2021-01-04','fund_list'])

dict